<template>
  <q-page padding style="max-width: 800px;" class="q-mx-auto">
    <q-card>
      <q-card-section>
        <div class="chat-container" v-if="messages.length">
          <div class="chat-area flex-1">
            <q-scroll-area class="scroll-area" @scroll="scrollUpdate" ref="scrollArea">
              <q-chat-message
                v-for="m in messages"
                class="q-mx-lg"
                :key="m.uuid"
                :text="[m.content]"
                :sent="m.inbound"
              />
            </q-scroll-area>
          </div>
          <q-input :disable="loading" class="q-ma-sm" @keyup.enter="submitMessage" v-model="message" outlined label="Your message" autofocus/>
        </div>
        <div class="text-center" v-else>
          <q-spinner-bars color="primary" size="30%"/>
        </div>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import { ref } from 'vue'
import { useMutation, useSubscription } from '@vue/apollo-composable'
import MessagesSubscription from '../subscriptions/messages'
import MessageCreateMutation from '../mutations/message_create'

export default {
  name: 'ChatPage',
  setup() {
    const { onResult } = useSubscription(MessagesSubscription)
    const { mutate, loading } = useMutation(MessageCreateMutation)
    const message = ref('')
    const scrollArea = ref(null)
    const messages = ref([])

    onResult(result => {
      if (result.data.messages.messages) {
        const newMessages = result.data.messages.messages;

        const messageMap = new Map(messages.value.map(message => [message.uuid, message]));

        newMessages.forEach(newMessage => {
          messageMap.set(newMessage.uuid, newMessage);
        });

        // Update the value of the messages ref
        messages.value = Array.from(messageMap.values()).sort((a, b) => a.updatedAt - b.updatedAt);
      }
    });


    const submitMessage = () => {
      if (message.value.length > 0) {
        const input = {
          messageInput: {
            content: message.value
          }
        }
        message.value = ''
        mutate(input)
      }
    }

    return {
      loading,
      submitMessage,
      messages,
      scrollArea,
      message
    }
  },
  methods: {
    scrollUpdate(info) {
      if (this.scrollSize != info.verticalSize) {
        this.scrollSize = info.verticalSize
        this.$refs.scrollArea.setScrollPercentage('vertical', 1.0)
      }
    }
  }
}
</script>

<style scoped>
.chat-container {
  height: 500px;
  display: flex;
  flex-direction: column;
}
.chat-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.scroll-area {
  overflow-y: auto;
  flex: 1;
}
</style>
