<template>
  <q-page padding style="max-width: 800px;" class="q-mx-auto">
    <q-card>
      <q-card-section>
        <div class="text-h5">Your Data</div>
      </q-card-section>
      <q-card-section>
        <div class="text-body1" v-if="!loading">
          <template v-for="(v,k) in userData" :key="k">
            <div class="text-h6">
              {{ k }}
            </div>
            <div class="text-body1">
              {{ v }}
            </div>
            <q-separator class="q-my-md" />
          </template>
        </div>
        <div class="text-center" v-else>
          <q-spinner-bars color="primary" size="30%" />
        </div>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import { ref } from 'vue'
import { useQuery } from '@vue/apollo-composable'
import MyDataQuery from '../queries/my_data'

export default {
  name: 'DataPage',
  setup() {
    const userData = ref([])
    const { loading, onResult } = useQuery(MyDataQuery)

    onResult((result) => {
      if (result.data) {
        userData.value = JSON.parse(result.data.myData.history)
      }
    })

    return {
      loading,
      userData
    }
  }
}
</script>
