<template>
  <q-page padding style="max-width: 800px;" class="q-mx-auto">
    <div class="row">
      <div class="col-12">
        <q-card>
          <q-card-section>
            <h3>
              Login Form
            </h3>
          </q-card-section>
          <q-card-section class="text-center">
            <q-form class="q-gutter-md" v-if="!loading">
              <q-input outlined type="text" label="Email" placeholder="Email" v-model="form.email" />
              <q-input outlined type="password" label="Password" placeholder="Password" v-model="form.password" />
              <q-btn label="Login" color="primary" @click="submitLogin" />
            </q-form>
            <q-spinner-bars color="primary" size="30%" v-else />
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { reactive } from 'vue'
import { useMutation } from '@vue/apollo-composable'
import { useSessionStore } from 'stores/session'
import { useRouter } from 'vue-router'
import LoginMutation from '../mutations/login.js'

export default {
  name: 'LoginPage',
  setup() {
    const form = reactive({
      email: '',
      password: ''
    })

    const router = useRouter()

    const sessionStore = useSessionStore()

    const { mutate, loading } = useMutation(LoginMutation)

    const submitLogin = async () => {
      if (loading.value) {
        return false
      }
      const result = await mutate(form)

      if (result.data.login.user) {
        sessionStore.setUser(result.data.login.user)
        if (result.data.login.user !== null) {
          router.push('/')
        }
      }
    }

    return {
      form,
      submitLogin,
      loading
    }
  }
}
</script>
