<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-primary text-white text-center" height-hint="98">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg">
          </q-avatar>
          Quasar &amp; Rails GPT integration
        </q-toolbar-title>
      </q-toolbar>

      <q-tabs align="center">
        <q-route-tab to="/chat" label="Assistant Chat" />
        <q-route-tab to="/data" label="Your Data" />
      </q-tabs>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>
